body {
	font-family: sans-serif;
	color: #384047;
	padding: 10px 0 80px;
	line-height: 1.5;

}

div {
	margin: auto;
	max-width: 610px;
}
                                                                                                                

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 14px;
}

a {
	color: #4183c4;
}

/* Substring Matching Attribute Selectors ---- */

a[href^="http://"] {
	text-decoration: none;
	color: #52bab3;

}

a[href$=".pdf"] {
	background-image: url('..icn-pdf.svg');
}

a[href$=".jpg"] {
	background-image: url('..icn-picture.svg');
}

a[href$=".zip"] {
	background-image: url('..icn-zip.svg');
}

a[href*="downloads"] {
	background-repeat: no-repeat;
	background-size: 18px 18px;
	padding-left: 25px;
}

img[src*="trees"] {
	margin: 4px;
	border: solid 2px;
	width: 180px;
	height: 140px;
}

img[src*="lake"] {
	border: solid 2px red; 
	margin: 4px;
	width: 180px;
	height: 140px;
}